.App {
    text-align: center;
}

.container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

.title {
    text-align: center;
    font-family: monospace;
}

.clock {
    font-family: monospace;
    margin: 4em;
    text-align: center;
}

.clock-text {
    font-size: 3em;
}

.face-clock {
    background: lightblue;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 10px;
    display: flex;
    border: solid white;
    justify-content: center;
    align-items: center;
}

.active {
    background: white;
    border: solid lightblue;
}

.button {
    border: none;
    color: white;
    padding: 5px;
    margin: 5px;
    border: solid white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.mode-btn {
    background-color: lightskyblue;
}

.mode-btn:hover {
    background-color: white;
    color: lightskyblue;
    border: solid lightskyblue;
}

.increase-btn {
    background-color: orange;
}

.increase-btn:hover {
    background-color: white;
    color: orange;
    border: solid orange;
}

.light-btn {
    background-color: lightskyblue;
}

.light-btn:hover {
    background-color: white;
    color: lightskyblue;
    border: solid lightskyblue;
}

.reset-btn {
    background-color: red;
}

.reset-btn:hover {
    background-color: white;
    color: red;
    border: solid red;
}

.meridiem-btn {
    background-color: red;
}

.meridiem-btn:hover {
    background-color: white;
    color: red;
    border: solid red;
}

.footer {
    text-align: left;
    font-family: monospace;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.add {
    padding-top: 3%;
}

.select {
    width: 80%;
    line-height: 90px;
}

form label{
    font-size: 2em;
} 

.select-container {
    padding: 7% 0 7% 0;
}

.meridiem {
    font-size: 2em;
}